[submodule "plugins/open/MediaXPlugin-Wechat"]
	path = plugins/open/MediaXPlugin-Wechat
	url = git@github.com:ArtisanCloud/MediaXPlugin-Wechat.git
[submodule "plugins/open/MediaXPlugin-DouYin"]
	path = plugins/open/MediaXPlugin-DouYin
	url = git@github.com:ArtisanCloud/MediaXPlugin-DouYin.git
[submodule "plugins/open/MediaXPlugin-RedBook"]
	path = plugins/open/MediaXPlugin-RedBook
	url = git@github.com:ArtisanCloud/MediaXPlugin-RedBook.git
