# Go binary and build artifacts
*.exe
*.exe~
*.dll
#*.so
*.dylib
*.a
*.out
*.test
*.prof

# Go workspace
/go/

# Dependency directories
/vendor/

# GoLand IDE files
.idea/

# VS Code IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db
*.tmp
*.swp

# Logs
*.log
logs/

# Node/JS build artifacts
dist/
build/
coverage/

config.yaml

# plugins
../MediaX-Pro/internal/plugins/temp/

# Ignore any file generated during testing
*.out

# Go modules
go.sum

.env
.env.*
node_modules/

sessiontoken
accessntoken
clienttoken