# Go binary and build artifacts
*.exe
*.exe~
*.dll
#*.so
*.dylib
*.a
*.out
*.test
*.prof

# Go workspace
/go/

# Dependency directories
/vendor/

# GoLand IDE files
# .idea/

# VS Code IDE files
# .vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Ignore any file generated during testing
*.out

# Go modules
go.sum


# 忽略 plugins/closed 目录中的所有文件，但保留目录结构
/plugins/closed/*
# 保留 plugins/closed 目录本身
!plugins/closed/README.md